body{
    background-color: thistle;
}
h6{
    width: fit-content;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: rgb(14, 233, 69);
}
h7{
    width: max-content;
    font-size: 50px;
    font-family: sans-serif;
    color: crimson;
}
p3{
    width: auto;
    color: rgb(1, 10, 10);
    font-size: medium;
    font-style: italic;
}
video{
    width: 80%;
}
h8{
    width: auto;
    font-size: 60px;
    font-style: initial;
    color: rgb(15, 12, 233);
}
li{
    color: rgba(2, 0, 0, 0.973);
}
